.gig-purchase {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 40px;
    padding: 32px 32px 64px;
    // margin-block: em(100px);
    // margin-inline: auto;
    max-width: 1400px;
    width: 100%;
    margin: em(100px) auto;
    min-height: calc(100vh - 160px);

    h1,
    h2,
    h4,
    p {
        margin: 0;
    }

    header {
        border: 1px solid #efeff0;
        padding: 16px;
        font-size: 16px;
        font-weight: 700;
        color: #404145;
    }

    .billing-info {
        padding: 20px;
        justify-content: space-between;

        button {
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 600;
            background: none;
            color: #222325;
            border: solid 1px #222325;
            border-radius: 4px;

            &:hover {
                background: #404145;
                border-color: transparent;
                color: #fff;
            }
        }
    }

    .inner-container {
        gap: 96px;
    }

    .payment-section {
        // background-color: $clr12;
        border: 1px solid $clr7;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
        max-width: 66.66%;
        flex-basis: 66.66%;
        padding: 0 16px;
        border-radius: 4px;

        .header {
            padding: 16px;
            font-size: 16px;
            font-weight: 700;
            color: #404145;
            border: 1px solid #efeff0;
            // text-align: center;

            h1 {
                margin: 0;

            }
        }

        .outer-debit-container {
            height: 64px;
        }

        .credit-debit-card-container {
            padding: 0 0 0 16px;
            // height: 64px;

            span {
                width: 20px;
                height: 20px;
                background-color: white;
                border: solid 5px black;
                border-radius: 999px;
                margin: 1px 8px 0 0;
            }
        }

        p {
            margin-bottom: 10px;
        }

        input {
            padding-inline-start: em(15px);
            // margin-top: 10px;
            padding: 2px;
            padding-left: 16px;
            min-width: em(100px);
            height: em(40px);
            border-radius: 8px;
            border: 1px solid #c5c6c9;
            font-size: em(18px);
            color: $clr10;
            font-weight: 400;
            margin-bottom: 24px;

        }

        .short-inputs {
            gap: 16px;
            grid-template-columns: 1fr 1fr;



            .code {
                width: 100%;
            }
        }

        form {
            .card-number p {
                align-self: flex-start;
            }

            p {
                // margin-top: em(40px);
                font-size: em(14px);
                // margin-bottom: em(15px);
                font-weight: 700;
            }
        }

        .card-details {
            flex-wrap: wrap;

            .short {
                width: 100%;

                .date {
                    width: 100%;
                }
            }
        }

        .buyer-details {
            flex-wrap: wrap;
            margin-block: em(10px);

            b {
                margin: 0;
                padding: 0;
                font-size: 14px;
                color: #74767e;
                font-weight: 400;
            }

            .last-name-input {
                width: 100%;
                margin-bottom: 6px;
            }
        }

        .payment-form {
            max-width: 580px;
            padding: 24px 18px 24px 40px;

            p {
                font-size: 16px;
                font-weight: 400;
                color: $clr5;
                line-height: 24px;
            }

        }

        .paypal-container {
            padding: 0 18px 24px 40px;
        }
    }

    .package-container {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        flex-basis: 33.33%;
        max-width: 33.33%;
        // flex: 1;
        background-color: $clr1;
        position: sticky;
        top: 53px;
        height: 100%;
        overflow-y: auto;
        // display: flex;



        .order-details {
            border-radius: 3px;
            padding: em(32px) em(24px);
            border: 1px solid $clr7;
            margin-block-end: em(16px);
            background-color: #fafafa;

            .package-inner-container {
                padding-bottom: 16px;

                .taxes {
                    margin: 0 0 16px;
                    padding: 0 0 16px;

                    p {
                        padding: 6px 0;
                    }
                }
            }

            .img-container {
                height: em(70px);
                margin-inline-end: em(10px);
                margin-block-start: 5px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }

            p {
                color: $clr5;
                font-size: em(16px);
                line-height: em(24px);
            }

            .pricing {
                margin-block: em(15px);

                .package-list {
                    margin-block-start: em(15px);

                    li {
                        gap: 10px;
                        padding: 6px 0;

                        .list-txt {
                            font-size: 16px;
                            line-height: em(24px);
                            color: $clr10;
                        }
                    }
                }

                .price {
                    font-size: em(20px);
                    line-height: em(30px);
                    color: $clr9;

                }
            }

            span.bold {
                color: $clr4;
            }

            button {
                background-color: $clr6;
                color: $clr1;
                border: 1px solid transparent;
                border-radius: em(4px);
                font-size: em(16px);
                padding: em(12px) em(24px);
                text-align: center;
                cursor: pointer;
                transition: cubic-bezier(.75, 0, .25, 1);
                width: 100%;
                line-height: 100%;
                font-weight: 600;

                &:hover {
                    background-color: $clr3;
                }
            }
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}