.gig-purchase {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    align-content: center;
    gap: 40px;
    padding: 32px 32px 64px;
    // margin-block: em(100px);
    // margin-inline: auto;
    max-width: 1400px;
    width: 100%;
    margin: em(100px) auto;
    // padding: 0 em(32px);
    min-height: calc(100vh - 160px);

    .inner-container {
        // margin-left: -16px;
        // margin-right: -16px;
        gap: 96px;
    }

    .header {
        font-size: 1.2em;
        text-align: center;
    }

    .payment-section {
        // background-color: $clr12;
        border: 1px solid $clr7;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
        max-width: 66.66%;
        flex-basis: 66.66%;
        padding: 0 16px;
        border-radius: 4px;

        .credit-debit-card-container {
            padding-inline: em(20px);
        }

        input {
            padding-inline-start: em(15px);
            min-width: em(100px);
            height: em(40px);
            border-radius: 8px;
            border: 1px solid $clr7;
            font-size: em(18px);
            color: $clr5;
            
        }

        .short-inputs {
            gap: em(10px);
        }

        form {
            .card-number p {
                align-self: flex-start;
            }

            p {
                // margin-top: em(40px);
                font-size: em(14px);
                // margin-bottom: em(15px);
                font-weight: 700;
            }
        }

        .card-details {
            flex-wrap: wrap;

            .short {
                max-width: em(100px);
            }
        }

        .buyer-details {
            flex-wrap: wrap;
            margin-block: em(10px);
        }
    }

    .package-container {
        flex-basis: 41.66667%;
        max-width: 41.66667%;
        flex-basis: 33.33%;
        max-width: 33.33%;
        // flex: 1;
        background-color: $clr1;
        position: sticky;
        top: 53px;
        height: 100%;
        overflow-y: auto;
        // display: flex;

        .order-details {
            border-radius: 3px;
            padding: em(32px) em(24px);
            border: 1px solid $clr7;
            margin-block-end: em(16px);
            background-color: #fafafa;

            .img-container {
                height: em(70px);
                margin-inline-end: em(10px);
                margin-block-start: 5px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

            }

            p {
                color: $clr5;
                font-size: em(16px);
                line-height: em(24px);
            }

            .pricing {
                margin-block: em(15px);

                .package-list {
                    margin-block-start: em(15px);

                    li {
                        gap: 10px;

                        .list-txt {
                            font-size: em(14px);
                            line-height: em(24px);
                            color: $clr10;
                        }
                    }
                }

                .price {
                    font-size: em(20px);
                    line-height: em(30px);
                    color: $clr9;

                }
            }

            span.bold {
                color: $clr4;
            }

            button {
                background-color: $clr6;
                color: $clr1;
                border: 1px solid transparent;
                border-radius: em(4px);
                font-size: em(16px);
                padding: em(12px) em(24px);
                text-align: center;
                cursor: pointer;
                transition: cubic-bezier(.75, 0, .25, 1);
                width: 100%;
                line-height: 100%;
                font-weight: 600;

                &:hover {
                    background-color: $clr3;
                }
            }
        }
    }

    @include for-mobile-layout {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}