.main-categories {
    // margin: 0 auto 24px;

    h2 {
        margin-block-end: 40px;
        padding-block-end: 20px;
        font-size: em(28px);
        line-height: 130%;
        color: $clr4;
    }

    ul {
        // flex-wrap: wrap;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

        li {
            display: list-item;
            padding: 0 10px 32px;
            // padding: 0;
            margin: 0;
            text-align: center;
            // width: 20%;

            a {
                color: $clr9;
                text-decoration: none;
                display: inline-block;
                position: relative;
                text-align: center;

                &::after {
                    content: '';
                    border-bottom: 2.5px solid $clr13;
                    width: 48px;
                    position: absolute;
                    top: 45px;
                    right: 50%;
                    transform: translateX(50%);
                    padding: 0 0 7px;
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 88px;
                        border-color: $clr3;
                    }
                }

                img {
                    height: 48px;
                    width: 48px;
                    margin: 0 auto 15px;
                    display: block;
                }
            }
        }
    }

    @include for-narrow-layout {
        margin-bottom: $narrow-margin-bottom;
        ul {
            grid-template-columns: repeat(3, 1fr)
        }
    }

    @include for-normal-layout {
        margin-bottom: $normal-margin-bottom;

        ul {
            grid-template-columns: repeat(5, 1fr)
        }
    }
    @include for-mobile-layout {
        margin-bottom: $mobile-margin-bottom;
    }
}