.main-categories {
    margin: 0 auto 24px;
    padding: 24px 24px 0;
    width: 100%;

    h2 {
        margin-block-end: 40px;
        padding-block-end: 20px;
        font-size: em(28px);
        line-height: 130%;
        color: $clr4;
    }

    ul {
        flex-wrap: wrap;

        li {
            display: list-item;
            padding: 0 10px 32px;
            text-align: center;
            width: 20%;

            a {
                color: $clr9;
                text-decoration: none;
                display: inline-block;
                position: relative;
                text-align: center;

                &::after {
                    content: '';
                    border-bottom: 2.5px solid $clr13;
                    width: 48px;
                    position: absolute;
                    top: 45px;
                    right: 50%;
                    transform: translateX(50%);
                    padding: 0 0 7px;
                    transition: all 0.2s ease-in-out;
                }

                &:hover {
                    &::after {
                        width: 88px;
                        border-color: $clr3;
                    }
                }

                img {
                    height: 48px;
                    width: 48px;
                    margin: 0 auto 15px;
                    display: block;
                }
            }
        }
    }
}

@include for-mobile-layout {
    .main-categories {
        margin-block-end: 80px;

        h2 {
            line-height: 120%;
            font-size: em(32px);
        }

        ul {
            li {
                width: 33.33%;
                padding-block-end: 55px;
            }
        }
    }

}

@include for-narrow-layout {
    .main-categories {
        margin-bottom: 40px;

        h2 {
            padding-block-end: 20px;
        }

        ul {

            li {
                width: 20%;
            }
        }
    }
}

@include for-normal-layout {
    .main-categories {
        max-width: 1400px;
    }
}