.skeleton-container {
    .skeleton-list {
        padding: 0;

        .skeleton-preview {
            
            .skeleton-img {
                border-radius: 8px;
                height: 200px;
            }
            
            .second-line {
                width: 100%;
            }
            
            .skeleton-text-container {
                gap: 25px;
                justify-content: space-around;
            }
        }
    }
}