.review-list {

    box-sizing: border-box;

    h1,
    h2,
    h3,
    h6,
    ul p {
        margin: 0;
        padding: 0;
    }

    .review-stats {
        width: 100%;

        .stat-title {
            font-size: em(20px);
            margin-bottom: 16px;
            color: #404145;
            font-weight: 700;
        }

        .count {
            width: 100%;
            padding-bottom: 16px;

            font-weight: 700;
            font-size: 16px;
            color: #404145;

            b {
                font-size: em(14px);
                padding-left: 4px;
            }
        }

        .review-layout {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 24px;

        }


        .bars {
            // padding: 0 16px;

            .progress-bar-container {
                padding: 10px 10px 0 6px;
                margin: auto;
                height: 8px;
                width: 227px;

                .progress {
                    width: 100%;
                }
            }

            .active {
                color: #222325;
                font-weight: 600;
            }

            .disabled {
                color: #95979d;
                font-weight: 400;
            }
        }

        .rating-breakdown {
            // padding: 0 16px;
            width: 100%;

            h6 {
                font-weight: 600;
                font-size: em(16px);
                padding-bottom: 16px;
            }

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                font-size: em(16px);
                font-weight: 400;

                color: #95979d;
                padding: 0 0 8px;

                span {
                    margin-left: 12px;
                }

                b {
                    font-size: em(14px);
                    color: $clr4;
                    padding-left: 4px;
                }
            }
        }
    }

    .review {
        padding: 40px 0;
        border-bottom: 1px solid #DADBDD;

        .review-first {

            .user-img-container {
                border-radius: 50%;
                width: em(48px);
                height: em(48px);
                margin-right: em(16px);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }

            }

            strong {
                font-size: em(16px);
                font-weight: 700;
                color: #404145;
                margin-bottom: 8px;
            }


            .country {

                img {
                    width: em(20px);
                    height: em(20px);
                    margin-top: em(-3px);
                }

                .country-name {
                    align-items: flex-start;

                    font-weight: 400;
                    font-size: em(14px);

                    margin: 0;
                    outline: 0;
                    padding: 0 0 0 8px;
                }
            }
        }

        .review-second {
            margin: 20px 0 0 64px;

            .review-rate {
                margin: 20px 0;

                .stars {
                    align-items: flex-start;
                }

                .inline-divider {
                    margin: 2px 8px;
                    border-right: 1px solid #e4e5e7;
                }

                .time {
                    align-self: center;
                    font-size: em(14px);
                    line-height: 21px;
                    font-weight: 400;
                }
            }

            .review-content {
                font-size: em(16px);
                font-weight: 400;
                margin-bottom: 12px;

                color: #404145;
                word-wrap: break-word;
            }
        }
    }

    footer {

        color: #404145;
        line-height: 25px;
        font-weight: 600;
        font-size: em(14px);
        margin-top: 16px;

        .helpful {
            margin: 0 12px 0 0;
        }

        .svg {
            padding: 0 4px 0 0;
        }

        .thumbs {

            .m-g-12 {
                margin-right: 12px;
            }
        }
    }

    @include for-mobile-layout {
        .review-stats {
            .count {
                justify-content: flex-start;
                gap: 12px;
            }

            .review-layout {
                grid-template-columns: 1fr;
            }
        }

        .review {
            .review-second {
                margin: 0;
            }
        }
    }

    @include for-narrow-layout {
        .review-stats {
            .review-layout {
                grid-template-columns: 1fr 1fr;
            }
        }

        .review {
            .review-second {
                margin: 20px 0 0 64px;

            }
        }
    }
}

.review-add {

    padding-bottom: em(30px);
    padding-top: em(20px);
    border-bottom: 1px solid #DADBDD;

    button {
        font-size: em(16px);
        font-weight: bold;

        padding: em(12px) em(24px);

        color: #404145;
        border-radius: 4px;
        background-color: $clr1;
        border: 1px solid #000;
    }

    .add-form {
        padding: em(12px) 0;

        .close-btn {
            padding: 0;
            margin: 0;
            border: none;
            color: #95979d;
        }

        .header {
            width: 100%;
            justify-content: space-between;
            padding: em(24px) 0;
        }

        p {
            margin-bottom: 8px;
        }

        textarea {
            font: 400 16px / 24px macan-regular;
            margin-top: 8px;
            padding: em(12px) em(12px);
            outline: none;
            border: 1px solid $clr14;
            resize: none;
            border-radius: 8px;
            width: 100%;
        }

        button {
            padding: em(10px);
            font-size: em(16px);
            margin-top: em(8px);
        }
    }
}