.side-nav {
    width: 311px;
    height: 100%;
    position: fixed;
    background-color: white;
    z-index: 1000;
    padding: 24px 12px;

    .side-bar-header {
        padding: 0 12px 20px;

        .join-btn {
            color: white;
            background-color: #000;
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 12px 24px;
        }
    }



    button {
        background: none;
        border: none;
        padding: 8px 12px;
        font-size: em(16px);
        font: 400 16px / 24px macan-regular;
        color: $clr5;
    }

    ul {
        li {
            padding: 8px 12px;
            margin: 0;
        }

        .sign-in {
            cursor: pointer;
        }

    }

    a {
        padding: 0;
        margin: 0;
        font-size: em(16px);
        font-weight: 400;
    }

    .categories-container {
        justify-content: space-between;

        svg {
            margin-inline-end: 5px;
        }

        .close {
            transform: rotate(90deg);
        }

        .open {
            transform: rotate(270deg);
        }

    }

}