.app-footer-container{
    border-block-start: solid .5px $clr5;
    width: 100%;
}

.app-footer{
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 32px;
}

.social-list{
    justify-content: flex-start;
    gap: 20px;
}