.main-header {
    position: fixed;
    width: 100%;
    z-index: 999;

    .header {
        height: 80px;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 2em;
    }
}

.join-btn {
    font-weight: 700;
    font-size: 0.875em;
    padding: 0.725em 1.15em;
    border-radius: .25em;
}

.homepage-header {
    background-color: transparent;
    color: #fff;

    .join-btn {
        border: 1px #fff solid;
    }

    .join-btn:hover {
        transition: all .2s ease;
        background-color: #1dbf73;
        border-color: #1dbf73;
    }
    
}

.regular-header {
    background-color: #fff;
    color: #74767e;
    
    .join-btn {
        color: #1dbf73;
        border: 1px #1dbf73 solid;
    }
    
    .join-btn:hover {
        color: #fff;
        background-color: #1dbf73;
        transition: all .2s ease;
    }

    g:first-child {
        fill: #404145;
    }


}


ul>*:not(:last-child) {
    padding-right: 20px;
}


