.app-header {
    background-color: transparent;
    position: sticky;
    transition: background-color .5s ease;

    .logo {
        width: 89px;
        color: $clr1;
        
        span {

            color: $clr3;
        }
    }

}

.header-list {
    gap: 3px;
}