.review-list {

    box-sizing: border-box;

    h1,
    h2,
    h3,
    h6,
    ul p {
        margin: 0;
        padding: 0;
    }

    .review-stats {
        display: flex;
        flex-direction: column;

        .stat-title {
            font-size: 20px;
            margin-bottom: 16px;
            color: #404145;
            font-weight: 700;
        }

        .count {
            font-weight: 700;
            font-size: 16px;
            color: #404145;
            padding-bottom: 16px;
        }

        .review-layout {
            display: flex;
            flex-direction: row;
            margin: 0 -16px;
            padding-bottom: 24px;
        }

        .progress {
            flex-grow: 1;
        }

        .bars {
            padding: 0 16px;

            .progress-bar-container{
                padding: 10px 10px 0 6px;
                height: 8px;
                flex-grow: 1;
            }

            .active {
                color: #222325;
                font-weight: 600;
            }

            .disabled {
                color: #95979d;
                font-weight: 400;
            }
        }

        .rating-breakdown {
            padding: 0 16px;
            h6 {
                font-weight: 600;
                font-size: 16px;
                padding-bottom: 16px;
            }

            ul {
                padding: 0;
                margin: 0;
            }

            li {
                font-size: 16px;
                color: #95979d;
                font-weight: 400;
                padding-bottom: 8px;
            }
        }
    }

    .review {
        padding: 40px 0;
        border-bottom: 1px solid $clr10;

        .review-first {
            display: flex;
            flex-direction: column;
            margin: 20px 0 0 64px;
            // align-items: center;

            .img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }

            strong {
                font-size: 16px;
                font-weight: 700;
                color: #404145;
                margin-bottom: 8px;
            }

            .country {
                display: flex;
                flex-direction: row;

                .flag-div {
                    display: flex;
                    align-items: center;
                }

                img {
                    width: 20px;
                    height: 20px;
                    margin-top: -3px;
                }

                .country-name {
                    font-weight: 400;
                    font-size: 14px;
                    margin: 0;
                    padding: 0 0 0 8px;
                    outline: 0;
                    display: flex;
                    align-items: flex-start;
                }
            }
        }

        .review-second {
            margin: 20px 0 0 64px;

            .review-rate {
                display: flex;
                margin: 20px 0;


                .inline-divider {
                    margin: 2px 8px;
                    border-right: 1px solid #e4e5e7;
                }

                .time {
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 400;
                }
            }

            .review-content {
                font-size: 16px;
                font-weight: 400;
                word-wrap: break-word;
                color: #404145;
                margin-bottom: 12px;
            }

        }

    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #404145;
        line-height: 25px;
        font-weight: 600;
        font-size: 14px;

        .helpful {
            margin: 0 12px 0 0;
        }

        .svg {
            padding: 0 4px 0 0;
        }

        .thumbs {
            display: flex;
            align-content: center;

            .m-g-12 {
                margin-right: 12px;
                display: flex;
                justify-content: center;
            }
        }
    }
}