* {
    box-sizing: border-box;
}

html {
    font-family: macan-regular;
}

body {
    margin: 0;
    color: $clr5;
    background-color: $clr1;
    font: 400 16px / 24px macan-regular;
    position: relative;
    width: 100%;
}

main {
    min-height: 100vh;
    padding-bottom: 100px;

    @include for-mobile-layout {
        padding-bottom: 60px;
    }
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;



}