* {
    box-sizing: border-box;
}

html {
    font-family: macan-regular;
    height: 150%;
}

body {
    margin: 0;
    color: $clr5;
    background-color: $clr1;
    font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
}