// .main-layout {
//     display: grid;
//     grid-template-columns: minmax(auto, 100px) 1fr minmax(auto, 100px);
// }

// // 24px


// .main-layout>* {
//     grid-column: 2;
// }

// .main-layout .full {
//     grid-column: 1/-1;
// }

// .gig-index-layout {
//     display: grid;
//     grid-template-columns: minmax(auto, 100px) 1fr minmax(auto, 100px);
// }

// // 24px


// .main-layout>* {
//     grid-column: 2;
// }

// .main-layout .full {
//     grid-column: 1/-1;
// }

.gig-index-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 40px;
    width: 100%;
}