@font-face {
    font-family: macan-bold;
    src: url(../../fonts/Macan-Bold.otf);
}

@font-face {
    font-family: macan-regular;
    src: url(../../fonts/Macan-Regular.otf);
}

@font-face {
    font-family: macan-medium;
    src: url(../../fonts/Macan-Medium.otf);
}