@font-face {
    font-family: macan-semibold;
    src: url(/src/assets/styles/fonts/macan-semibold.woff2);
}

@font-face {
    font-family: macan-regular;
    src: url(/src/assets/styles/fonts/macan-regular.woff2);
}

@font-face {
    font-family: macan-light;
    src: url(/src/assets/styles/fonts/macan-light.ttf);
}

@font-face {
    font-family: macan-bold;
    src: url(/src/assets/styles/fonts/macan-bold.ttf);
}
