// Colors
$clr1: #ffffff;
$clr2: #f5f5f5;
$clr3: #1dbf73;
$clr4: #404145;
$clr5: #62646a;
$clr6: #222325;
$clr7: #dadbdd;
$clr8: #19a463;

// MQ Breakpoints
$mobile-breakpoint: 600px;
$narrow-breakpoint: 900px;
$normal-breakpoint: 1160px;