.content {
    max-width: 100%;
    width: 100%;
}

.gigs-container {
    display: grid;
    grid-row-gap: em(40px);
    grid-column-gap: em(24px);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    width: 100%;
    margin: em(16px) 0 0;



    @include for-mobile-layout {
        margin: 0 16px;
        grid-template-columns: minmax(0, 1fr);
        gap: 150px;
    }

    // @include for-narrow-layout {
    //     grid-template-columns: repeat(2,1fr);
    //     grid-row-gap: 40px;
    // }
}