.gig-preview {
    position: relative;

    width: 100%;
    min-width: 245px;
    margin-inline-end: em(24px);

    .slider-container {
        position: relative;

        .heart {
            position: absolute;
            top: 16px;
            right: 16px;
            width: em(34px);
            height: em(32px);
            background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/hearts.e6208a0.svg);
            background-repeat: no-repeat;
            background-size: cover;

            svg {
                fill: #fff;
            }
        }
    }


    .gig-title {
        h3 {
            font-size: em(16px);
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 5px;
        }
    }
    
    a:hover h3 {
        text-decoration: underline;
    }
    
    img {
        width: 100%;
        aspect-ratio: 1.653;
        object-fit: fillr;
        border-radius: em(8px);
        position: relative;
    }

    .gig-rating,
    .price {
        color: $clr9;
        font-size: 1em;
        margin-top: 8px;
    }

    .gig-rating {
        min-height: em24px;
        margin-block-start: 8px;

        .inner-rating-container {
            line-height: 24px;
            font-size: 1em;

            .star {
                padding-block-end: 4px;
            }

            .rating-count {
                padding-left: 4px;
                color: $clr10;
            }
        }
    }


    .gig-title {
        color: $clr4;
        font-size: 1em;
        line-height: 24px;
        padding-top: 8px;
        margin-top: 5px;
    }

    .gig-owner-details {
        font-size: 0.875em;
        margin-top: 12px;
        height: 24px;
        color: $clr4;

        .owner-details {
            column-gap: 8px;
            min-width: 0;
        }

        .level-container {
            gap: 4px;

            .level {
                justify-self: center;
                flex-shrink: 0;
            }

            .diamonds {
                justify-content: center;
                gap: 2px;

                .black {
                    fill: $clr9;
                }

                .grey {
                    fill: $clr14;
                }
            }
        }

        .owner-profile {
            height: 24px;
            width: 24px;
            border-radius: 50%;
        }
    }
}

.slick-slider {
    position: relative;
}

.arrow {
    position: absolute;
    z-index: 1;

    opacity: 0;
    height: 32px;
    width: 32px;

    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/search_perseus/basic-carousel-arrows.dfd3090.svg);

}

.next-arrow {
    right: 5px;
    background-position: 100% 0;
}

.prev-arrow {
    left: 5px;
    background-position: 0 100%;
}


.gig-preview a:hover .arrow {
    opacity: 1;
    transition: 0.5s;
}

.slick-dots {
    bottom: 10px;

    &>li {
        margin: 0;

        button::before {
            font-size: 9px;
            color: #fff;
            opacity: .5;
        }
    }

    li.slick-active button::before {
        color: #fff;
        opacity: 1;
    }
}