.main-details {
    margin: auto;
    margin-top: 132px;
    margin-bottom: 100px;
    box-sizing: border-box;
    max-width: 1304px;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 0;

    h1,
    h2,
    h3,
    p,
    span {
        margin: 0;
        padding: 0;
    }
}


.gig-details {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    // margin-left: 100px;
    // justify-content: center;
    margin-right: 9.15%;
    width: 57.42%;
    height: 100%;
    // padding: 0 24px;

    .folio {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain
    }

    h1 {
        font-size: 28px;
        line-height: 130%;
        color: $clr4;
        overflow-wrap: break-word;
        padding: 0 0 16px;
    }

    h2 {
        font-size: 18px;
        // margin-bottom: 0.5em;
    }

    h3 {
        font-size: 16px;
    }

    .rate {
        padding: 0 0 0 4px;
    }

    hr {
        margin: 30px 0;
        // display: flex;
        // font-size: .75em;
        // margin-top: 1em;
    }

    & .about-this-gig {
        margin-top: rem(140px);

    }

    & .about-the-seller {
        h2 {
            display: flex;
            margin-bottom: 30px;
            padding: 0 8px 0 0;
        }

    }

    &.gig-details {
        width: 100%;
    }

    .gig-layout {
        max-width: 100%;
    }

    .about-user {
        display: flex;
        gap: 20px;
        flex-direction: row;
        margin-top: 12px;
    }

    .info-first {
        display: flex;
        gap: 12px;
    }

    .user-pic {
        width: 64px;
        height: 64px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .folio {
        margin-top: 2em;
    }
}

.sidebar {
    width: 33.6%;
    height: 100%;
    padding: 0 0 32px;
    position: sticky;
    top: 150px;
}

.packages-tabs {

    border: 1px solid #DADBDD;
    margin-bottom: 16px;

    width: 410px;
    display: flex;
    flex-direction: column;

    header {
        height: 24px;
        display: flex;
    }

    .tab {
        display: flex;
        flex-direction: row;
    }


    .tab button {
        border: 1px solid #DADBDD;
        border-left: none;
        border-top: none;
        font-size: 16px;
        font-weight: 700;
        background-color: inherit;
        color: $clr4;
        cursor: pointer;
        width: 100%;
        padding: 14px 16px 16px;
    }

    .tab button.active {
        border-bottom: 1px solid black;
    }


    svg {
        margin-right: 8px;
        // margin-left: 8px;
    }

    h3 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        b {
            font-size: 16px;
            margin-right: 16px;
        }
    }

    .price {
        margin-top: 16px;
        font-size: 24px;
        font-weight: bold;
        align-content: flex-start;

        // margin-left: 8px;
        span {
            padding: 0 0 0 8px;
        }

    }

    .package-content {
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 24px;
        display: flex;
        flex-direction: column;
    }

    .package {
        padding: 24px 0 10px;
    }

    header {
        border: 0.5px solid #DADBDD;
        height: 4em;
        display: flex;
        align-items: center;
    }

    .second-row {
        display: flex;
    }

    .delivery {
        display: flex;
        align-content: center;
        margin-bottom: 8px;

        svg {
            float: left;
        }

        span {
            margin-left: 8px;
        }
    }

    .revisions {
        margin-left: 16px;
        display: flex;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 20px;
        align-self: flex-end;
        margin-right: 40px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }

    ul {
        padding: 0;
        margin: 0;

        div {
            display: flex;
            align-items: center;
        }
    }

    li {
        margin: 0;
        display: flex;
        align-content: center;
        color: #95979d;
        font-weight: 400;

        svg {
            margin-right: 12px;
        }

        span {
            margin-left: 8px;
        }
    }


    .continue {
        margin-top: 20px;
        padding: 12px 24px;
        font-weight: bold;
        font-size: 16px;
        background-color: #000;
        border: 1px solid transparent;
        color: white;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        align-self: center;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #404145;
        }

        .arrow {
            fill: white;
            justify-self: flex-end;
        }
    }
}

.continue-container {
    padding: 0 24px 20px;
}

.contact-plans-btn {
    font-weight: bold;
    background-color: $clr1;
    width: 100%;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #000;
    color: #404145;

    &:hover {
        background-color: #74767E;
        border: 1px transparent;
        color: white;
    }

    span {
        margin-left: 8px;
    }
}

.contact-container {
    margin: 0 0 16px;
    padding: 24px;
}


@media (min-width: 900px) {
    .main-details {
        flex-direction: row;
        //   & .gig-description {
        //     width: 720px;
        //     margin-top: 35px;
        //     .gig-layout {
        //       max-width: 720px;
        //     }
    }
}