.main-details {
    display: flex;
    gap: 40px;
}


.gig-details {
    flex-basis: 90%;

    h1 {
        margin: 0;
        font-size: 28px;
        //28px
        // em
        letter-spacing: 1px;
        line-height: 1em;
    }

    h2 {
        margin: 0;
        font-size: 18px;
    }

    .user-pic {
        height: 64px;
        border-radius: 50%;
    }

    .about-user {
        display: flex;
        gap: 15px;
        border-bottom: 0.5px solid $clr5;
    }

    h3 {
        font-size: 16px;
    }

    .star {
        margin-right: 5px;
    }

    .folio {
        margin-top: 40px;
    }
}

.packages-tabs {
    display: flex;
    flex-direction: column;

    flex-basis: 30%;
    flex-shrink: 0;

    min-height: 260px;
    margin-inline: auto;

    padding: 1em;
    border: 1px solid rgb(226, 226, 226);

    h3 {
        margin: 0;
        font-size: 14px;
    }

    button {
        background-color: $clr4;
        color: white;
        align-self: center;
        height: 3em;
        border-radius: 3%;
        font-size: 16px;

        .arrow {
            fill: white;
        }
    }

    .delivery {
        margin-bottom: 5px;
    }
}