.gig-filter-container {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    align-items: center;

    .gig-filter {
        box-sizing: border-box;
        padding: 0.6875em 1em;

        border-radius: .5em;
        border: 1px solid #dadbdd;

        min-width: 50px;
        min-height: 48px;
        line-height: 24px;

        color: #222325;
        cursor: pointer;
    }
}

.gig-sort-container {
    .results {
        color: #74767e;
        padding: 8px 0;
    }
}