.filter-sort {
    margin-block-end: 24px;

    .gig-filter-container {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-top: 24px;
        align-items: center;

        .inner-filer-container {
            gap: 12px;
        }

        .gig-filter {
            padding: 0.6875em 1em;
            font-weight: 600;

            border-radius: .5em;
            border: 1px solid #dadbdd;

            line-height: 24px;
            min-width: 50px;
            min-height: 48px;

            color: #222325;
            cursor: pointer;
            &:hover {
                border: 1px solid rgb(34,35,37)
            }
        }
    }
}

.gig-sort-container {
    max-width: 1400px;
    justify-content: flex-end;
}